<tbody data-count="{{count}}" id="room-list">
    {{#each rooms}}
    <tr>
        <td>{{this.index}}</td>
        <td>{{this.name}}</td>
        <td>
            <div class="d-flex justify-content-between pe-4 me-4">
                <div>
                    {{this.access_code}}
                </div>
                <div class="copy-access-code" data-text="{{this.access_code}}">
                    <i class="fa-solid fa-copy"></i> <span>copy</span>
                </div>
            </div>
        </td>
        <td scope="row" class="fit">
            <a class="btn btn-danger  rounded-pill" href="/chats/room/{{this.access_code}}"><i class="fa-regular fa-comment"></i> Go to
                Room</a>
            <button class="btn btn-outline-dark rounded-pill remove-room-btns"
                data-access-code="{{this.access_code}}"> Remove</button>
        </td>
    </tr>
    {{/each}}
</tbody>